scanexporter:
    name: scan-exporter
    replicaCount: 1
    liveness:
        initialDelay: 20
        period: 3
        path: /health
    container:
        image: devopsworks/scan-exporter:2.2.0
        imagePullPolicy: Always
        port: 2112
    resources:
        requests:
            memory: "100Mi"
            cpu: "200m"
        limits:
            memory: "150Mi"
            cpu: "375m"

nameOverride: ""
fullnameOverride: ""

podMonitor: 
    enabled: false
    path: /metrics

deployment:
    annotations:
        # configmap.reloader.stakater.com/reload: "scan-exporter-config"

alertRules:
    enabled: false
    namespace: metro
    rules:
      - name: ICMPNotResponding
        expr: scanexporter_rtt_total == 0
        severity: high
        annotations:
          summary: "Target {{ $labels.name }} does not respond."
          description: "{{ $label.name }} ({{ $label.ip }}) of job {{ $labels.job }} was unreachable during the last ping."
      - name: TooManyOpenPorts
        expr: scanexporter_unexpected_open_ports_total > 0
        severity: high
        annotations:
          summary: "Target {{ $labels.name }} has too many open ports."
          description: "{{ $labels.name }} of job {{ $labels.job }} has {{ $value }} ports that should not be open."
      - name: TooManyClosedPorts
        expr: scanexporter_unexpected_closed_ports_total > 0
        severity: critical
        annotations:
          summary: "Target {{ $labels.name }} has too many closed ports."
          description: "{{ $labels.name }} of job {{ $labels.job }} has {{ $value }} ports that should not be closed."

targets: |-
         timeout: 2
         limit: 1024
         targets:
             - name: "app1"
               ip: "198.51.100.1"
               tcp:
                 period: "10s"
                 range: "reserved"
                 expected: "53"
             - name: "app2"
               ip: "198.51.100.2"
               tcp:
                 period: "1m"
                 range: "all"
                 expected: "22,443"
               icmp:
                 period: "30s"
